body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;    
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    text-align: center;
}

.logo {
    width: 25%;
    margin-top: 3%;
}

main {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: white 1px solid;
    box-shadow: white 1px 1px 35px;
}

h1 {
    margin-bottom: 20px;
    font-size: 200%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, select, input[type="number"], #impObservacoes {
    font-size: 18px;
    margin: 10px 0;
    width: 45%;   
}

select, input[type="number"], input[type="submit"], #impObservacoes {
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: none;
    transition: background 0.3s, border-color 0.3s;
}

option{
    color: rgb(0, 0, 77);
}


select:focus, input[type="number"]:focus, input[type="submit"]:hover {
    background: rgba(255, 255, 255, 0.3);
    border-color: #ccc;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s, border-radius 0.3s;
    margin-bottom: 8%;
    margin-top: 3%;
    width: 30%;
    font-size: large;
    text-transform: uppercase;
}
  

input[type="submit"]:hover {
    background-color: #218838;
    border-radius: 20px;
    width: 33%;
    border: 1px white solid;
    box-shadow: greenyellow 1px 1px 10px;
}

#impObservacoes{
    height: 15vh;
    font-family: Arial, sans-serif;
}


@media screen and (max-width: 450px) {
    input[type="submit"] {
        font-size: small;
    }
}


@media screen and (max-width: 600px) {
    main{
        width: 80%;
    }

    h1 {
        margin-bottom: 20px;
        font-size: 100%;
    }

    label, select, input[type="number"], #impObservacoes {
        width: 70%;
        font-size: 12px;
    }
}



