<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camil Alimentos</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <main id="geral">
        <img src="static/logo.png" alt="Logotipo da Empresa" class="logo">

        <h1 class="titulo">Disponibilidades S&OP <br/> Camil Alimentos</h1>
        <form id="industryForm" method="POST">
            <br>
            <label for="linkPlanilha">Planilha:</label>
            <a id="linkPlanilha" href="https://www.google.com.br/?hl=pt-BR" target="_blank">Clique Aqui Para Acessar a Planilha de Orçamentos.</a>
            <br><br>
            <label for="industry">Indústria:</label>
            <select id="industry" name="industry">
                <option value="ind1">Indústria 1</option>
                <option value="ind2">Indústria 2</option>
                <option value="ind3">Indústria 3</option>
            </select>
            <br>
            <label for="segment">Segmento:</label>
            <select id="segment" name="segment">
                <option value="seg1">Segmento 1</option>
                <option value="seg2">Segmento 2</option>
                <option value="seg3">Segmento 3</option>
            </select>
            <br>
            <label for="productType">Tipo de Produto:</label>
            <select id="productType" name="productType">
                <option value="prod1">Produto 1</option>
                <option value="prod2">Produto 2</option>
                <option value="prod3">Produto 3</option>
            </select>
            <br>
            <label for="quantity">Quantidade:</label>
            <input type="number" id="quantity" name="quantity" min="1" placeholder="Quantidade de Produtos">
            <br>
            <label for="productionDays">Dias de Produção:</label>
            <input type="number" id="productionDays" name="productionDays" min="1" placeholder="Quantidade de Dias">
            <br>
            <label for="lbObsercoes">Observações:</label>
            <textarea name="" id="impObservacoes" name="impObservacoes" placeholder="Campo não Obrigatorio"></textarea>
            <!--<input type="text" id="impObservacoes" name="impObservacoes" placeholder="Campo não Obrigatorio"> -->
            <br>
            <input type="submit" value="Enviar">
        </form>
    </main>
    
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>